In [46]:
import re
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Collection

In [47]:
url_list=["https://www.nobroker.in/flats-for-sale-in-banjara_hills_hyderabad",
          "https://www.nobroker.in/flats-for-sale-in-jubilee_hills_hyderabad",
          "https://www.nobroker.in/flats-for-sale-in-madhapur_hyderabad",
          "https://www.nobroker.in/flats-for-sale-in-hitech_city_hyderabad",
          "https://www.nobroker.in/flats-for-sale-in-sanath_nagar_hyderabad",
          "https://www.nobroker.in/flats-for-sale-in-himayath_nagar_hyderabad",
          "https://www.nobroker.in/flats-for-sale-in-kachiguda_hyderabad",
          "https://www.nobroker.in/flats-for-sale-in-aundh_pune",
          "https://www.nobroker.in/flats-for-sale-in-hadapsar_pune",
          "https://www.nobroker.in/flats-for-sale-in-pimple_saudagar_pune",
          "https://www.nobroker.in/flats-for-sale-in-kalewadi_pune",
          "https://www.nobroker.in/flats-for-sale-in-kharadi_pune",
          "https://www.nobroker.in/flats-for-sale-in-kothrud_pune",
          "https://www.nobroker.in/flats-for-sale-in-pimpri_pune",
          "https://www.nobroker.in/flats-for-sale-in-velachery_chennai",
          "https://www.nobroker.in/flats-for-sale-in-thiruvanmiyur_chennai",
          "https://www.nobroker.in/flats-for-sale-in-madipakkam_chennai",
          "https://www.nobroker.in/flats-for-sale-in-thoraipakkam_chennai",
          "https://www.nobroker.in/flats-for-sale-in-sholinganallur_chennai",
          "https://www.nobroker.in/flats-for-sale-in-medavakkam_chennai",
          "https://www.nobroker.in/flats-for-sale-in-mylapore_chennai"]

Property_name=[]
Price=[]
Est_EMI=[]
sqft=[]
Facing=[]
BHK=[]
Bathrooms=[]
Bike_Parking=[]
Car_Parking=[]

for i in url_list:
    soup=BeautifulSoup(requests.get(i).text)

    name=soup('h2',class_="heading-6 flex items-center font-semi-bold m-0")
    for i in name:
        a=re.findall(r'In\s(.*)\sFor',i.text)
        if len(a)!=0:
            Property_name.append(a[0].split(',')[0])
        else:
            Property_name.append(np.nan)

    
    name1=soup('div',class_="font-semi-bold heading-6")
    for i in range(0,len(name1),3):
        a=re.findall(r'\d+\.\d+|\d+',name1[i].text)
        Price.append(a[0])


    for i in range(1,len(name1),3):
        a=re.findall(r'\d+\.\d+|\d+',name1[i].text)
        Est_EMI.append("".join(a))


    for i in range(2,len(name1),3):
        a=re.findall(r'\d+\.\d+|\d+',name1[i].text)
        sqft.append("".join(a))



    for i in range(2,len(soup('div',class_="font-semibold")),4):
        a=soup('div',class_="font-semibold")[i].text
        Facing.append(a)

    for i in range(len(Facing)):
        if Facing[i] =="Don't Know":
            Facing[i]=np.nan


    for i in range(3,len(soup('div',class_="font-semibold")),4):
        a=soup('div',class_="font-semibold")[i].text
        BHK.append(a[0])


    for i in range(4,len(soup('div',class_="font-semibold")),4):
        a=soup('div',class_="font-semibold")[i].text
        Bathrooms.append(a)


    for i in range(5,len(soup('div',class_="font-semibold")),4):
        a=soup('div',class_="font-semibold")[i].text
        if "Bike" in a:
            Bike_Parking.append(True)
        else:
            Bike_Parking.append(False)
        if "Car" in a:
            Car_Parking.append(True)
        else:
            Car_Parking.append(False)

In [53]:
localities=["Banjara Hills","Jubliee Hills","Madhapur","Hi-Tech City","Sanath Nagar","Himayatnagar","Kachiguda"
           ,"Aundh","Hadapsar","Pimple Saudagar","Kalewadi","Kharadi","Kothrud","Pimpri","Velachery","Thiruvanmiyur",
           "Madipakkam","Thoraipakkam","Sholinganallur","Medavakkam","Mylapore"]
city=["Hyderabad","Pune","Chennai"]
Locality=[i for i in localities for j in range(25)]
City=[i for i in city for j in range(25*7)]

In [65]:
dictionary={"City":City,'Locality':Locality,"PropertyName":Property_name,"PriceInLakhs":Price,"EstEMI":Est_EMI,
            "Sqft":sqft,"Facing":Facing,"BHK":BHK,"Bathroom":Bathrooms,"BikeParking":Bike_Parking,"CarParking":Car_Parking}

In [66]:
df=pd.DataFrame(dictionary)

In [67]:
df

,City,Locality,PropertyName,PriceInLakhs,EstEMI,Sqft,Facing,BHK,Bathroom,BikeParking,CarParking
0,Hyderabad,Banjara Hills,Serene Pch,2.4,1.38,1825,NaN,3,3,True,True
1,Hyderabad,Banjara Hills,Mega Plaza,50,28657,970,North,2,3,True,True
2,Hyderabad,Banjara Hills,Engineers Castle,1.5,85971,1560,East,3,2,True,True
3,Hyderabad,Banjara Hills,Annapurna As Time Square,2.5,1.43,2000,East,3,3,True,True
4,Hyderabad,Banjara Hills,Tirumala Gardens,2.75,1.58,1907,West,3,3,True,True
...,...,...,...,...,...,...,...,...,...,...,...
520,Chennai,Mylapore,Ananti Apartments,53,30376,540,South,2,2,True,False
521,Chennai,Mylapore,Anchorage,1.5,85971,1350,West,3,2,True,True
522,Chennai,Mylapore,Thanikachalam Apartment R,1,57314,1121,North,2,2,True,False
523,Chennai,Mylapore,Apartment,79,45278,800,North,2,2,True,True
524,Chennai,Mylapore,Maruthi Apartment Mylapore,35,20060,450,West,1,1,True,False

In [133]:
df.to_csv("Project_1.csv")